<!DOCTYPE html>
<html>
<head>
  <title class="title"> </title>
</head>
<body>
  <div class="parent-div">
    <h1 class="name"><%= @app_name %></h1>
  <p class="tag"><%= @tagline %></p>
  <div class="link-div">
    <%= link_to 'LOGIN' , new_user_session_path, class: "link" %>
     <%= link_to 'SIGNUP', new_user_registration_path, class: "link1" %>
  </div>
  </div>
</body>
</html>
