* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: xxx-large;
}

.name,
.tag {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.link-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-block: 200px 85px;
}

.link {
  margin: 1rem;
  display: inline-block;
  padding: 15px 80px;
  background-color: blue;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
}
