* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Helvetica, Geneva, Arial, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  margin: 2rem;
  font-size: xxx-large;
}

.name,
.tag {
  display: flex;
  justify-content: center;
  margin: 0.5rem;
}

.link-div {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-block: 200px 85px;
}

.link,
.link1 {
  margin: 1rem;
  display: inline-block;
  padding: 15px 130px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 2px;
  border: none;
  cursor: pointer;
}

.link {
  background-color: blue;
  color: white;
}

.link1 {
  color: black;
}

.amount {
  display: flex;
  margin-left: auto;
  width: 15%;
}

.parent-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 40rem;
}

.sign-out-btn {
  color: white;
  padding: 0.4%;
  border: 1px solid white;
  font-size: 13px;
}

.date {
  margin-top: 20px;
}

a {
  text-decoration: none;
  background: none;
}

.text {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.food-description {
  display: flex;
  justify-content: space-between;
}

.white {
  background-color: white;
}

.category-list-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-list {
  width: 90%;
  background: white;
  padding: 2%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  height: auto;
  font-size: 20px;
}

.total {
  width: 100%;
  background: white;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  height: 60px;
}

.total p {
  background: white;
  color: #434b54;
  font-size: 20px;
  text-align: center;
}

.category-index {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  background-color: lightgrey;
}

.add-category {
  width: 100%;
  padding: 35px 10px;
  background-color: #5fb523;
  font-size: 18px;
  text-align: center;
  margin-top: 20rem;
}

.add-expenditure {
  width: 100%;
  padding: 35px 10px;
  background-color: #5fb523;
  font-size: 18px;
  text-align: center;
  margin-top: 28.8rem;
}

.add-expenditure-a,
.add-category-a {
  color: white;
  border: 1px solid #f0f2f1;
  font-size: 18px;
  text-align: center;
}

.add-expenditure-a {
  padding: 25px 90px;
}

.add-category-a {
  padding: 25px 105px;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background: white;
}

.file-upload {
  display: none;
}

.field-pic {
  display: flex;
  align-items: center;
  width: 100%;
  background: white;
  margin-top: 5%;
  padding: 2%;
}

.field {
  width: 100%;
  background: white;
  padding: 2%;
  display: flex;
  justify-content: center;
}

#image-preview {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: white;
}

.uploaded-photo {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 100%;
  margin-right: 10px;
}

.default-photo-icon {
  display: inline-block;
  width: 80px;
  height: 80px;
  border: 1px dashed #ccc;
  border-radius: 100%;
  background: url('https://cdn3.iconfinder.com/data/icons/essential-rounded/64/Rounded-31-512.png') center center no-repeat;
  background-size: 50%;
  background-color: white;
  margin-right: 10px;
}

.img {
  text-decoration: none;
  background-color: #3778c2;
  width: 20%;
  height: 80px;
}

.img-user {
  text-decoration: none;
  background-color: #3778c2;
  width: 50px;
  height: 50px;
  border-radius: 100%;
}

.nav {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 2%;
  align-items: center;
  color: white;
  font-size: 18px;
}

.background {
  background-color: #3778c2;
}

.input {
  background-color: white;
  width: 100%;
  height: 30px;
}
